<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="emp" class="com.springcore.collection.EmployeeInfo" >

   <property name="empId" value="101"></property>
   
   <property name="names">
   
   <list>
   <value>Ram</value>
   <value>Sham</value>
   <value>Akshay</value>
   <value>Ruturaj</value>
   </list>
   
   </property>
   
   <property name="phones">
   <set>
   <value>89493843</value>
   <value>99743993</value>
   <value>89346382</value>
   <value>67348388</value>
   </set>
   </property>
		
	</bean>


	

	






</beans>